body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#container {
    display: flex;
}

#left-table {
    width: 30%; /* Adjust the width as needed */
    margin-right: 10px; /* Adjust the margin as needed */
}

#right-table {
    width: 70%; /* Adjust the width as needed */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#IconInit{
    width: 12px;;
    height: 12px;
}

/* Responsive font size */
@media screen and (max-width: 600px) {
    th, td {
        font-size: 12px;
    }
}

@media screen and (min-width: 600px) {
    th, td {
        font-size: 16px; /* Adjust font size for larger screens */
    }
}


